// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
    width: 400px;
    margin: 0 auto;
}

.form {
    padding: 30px 10px;
    width: 370px;
    margin: 0 auto;
}

span {
    font-family: "Arial Black";
}

.logo {
    padding: 20px 10px;
    width: 300px;
    margin: 0 auto;
}

.title {
    width: 360px;
    margin: 0 auto;
}

.menu_icon {
    //menu icon default
    width: 100px;
    margin: 0 auto;
}